@import "table-clear.css";
@import "fonts.css";

.main-wrapper {
    background: url("../img/header.png") center 0 no-repeat;
    overflow: hidden;
    background-size: contain;
}

.clear {
    clear: both;
}

body {
    background: url("../img/bacgr.png") 0 0 repeat;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header-main {
    margin: 37px 0 0 114px;
}

.header-main .logo {
    width: 481px;
    height: 159px;
    background: url("../img/header-logo.png");
}

.header-main small {
    font: 16px OpenSans;
    color: #ffd338;
    margin: 0 0 0 179px;
    line-height: 0;
}

.header-main h2 {
    font: 62px Rigoletto;
    color: #ffc700;
    line-height: 28px;
    margin: 0 0 200px 2px;
}

.registration {
    overflow: hidden;
}

.registration li {
    float: left;
    margin: 18px 20px 0 0;
}

.registration a {
    color: #ffdb5e;
    font: 12px PTSans;
    text-decoration: none;
}

.main-content {
    overflow: hidden;
}

.left-side {
    float: left;
}

.sidebar-block {
    background: url("../img/texture_for_block.png") 0 0 no-repeat;
    width: 279px;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    border-radius: 0 0 7px 7px;
    background-size: 100% 100%;
    behavior: url(pie/PIE.htc);
}

.cart {
    margin: 18px 0 64px 0;
    padding: 46px 0 29px 0;
}

.sidebar-title {
    width: 312px;
    height: 74px;
    position: absolute;
    top: -42px;
    left: -14px;
    z-index: 1;
}

.sidebar-title h2 {
    color: #ffc800;
    font: 40px Rigoletto;
    padding: 22px 0 0 33px;
}

.top-title {
    background: url("../img/cart_header.png");
}

.sidebar-block p, .cart output {
    color: #fdffa9;
    font: 14px PTSans;
}

.cart output {
    margin: 0 0 0 192px;
}

.description {
    margin: 0 0 24px 20px;
}

.goods {
    margin-top: 12px;
    overflow: hidden;
    position: relative;
}

.goods li {
    float: left;
    margin: 0 0 0 17px;
}

.goods button {
    background: url("../img/button_goods.png");
    width: 28px;
    height: 28px;
    border: none;
}

.goods .name-goods {
    margin-top: 9px;
}

.goods li:last-child {
    margin-left: 37px;
}

.line {
    height: 3px;
    background: url("../img/line.png") repeat-x;
}

.cart .line {
    margin: 8px 0 8px 0;
}

.button {
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    text-decoration: none;
    width: 134px;
    height: 28px;
    margin-top: 2px;
    background: linear-gradient(#96c400, #455b00);
    background: -moz-linear-gradient(#96c400, #455b00);
    background: -ms-linear-gradient(#96c400, #455b00);
    background: -webkit-linear-gradient(#96c400, #455b00);
    -pie-background: linear-gradient(#96c400, #455b00);
    color: #fdffa9;
    font: 14px PTSansReguliar;
    behavior: url(pie/PIE.htc);
    position: relative;
}

.wrapping {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.89) 19%, rgba(0, 0, 0, 0.72) 39%, rgba(0, 0, 0, 0.33) 81%, rgba(0, 0, 0, 0.21) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(19%, rgba(0, 0, 0, 0.89)), color-stop(39%, rgba(0, 0, 0, 0.72)), color-stop(81%, rgba(0, 0, 0, 0.33)), color-stop(100%, rgba(0, 0, 0, 0.21))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.89) 19%, rgba(0, 0, 0, 0.72) 39%, rgba(0, 0, 0, 0.33) 81%, rgba(0, 0, 0, 0.21) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.89) 19%, rgba(0, 0, 0, 0.72) 39%, rgba(0, 0, 0, 0.33) 81%, rgba(0, 0, 0, 0.21) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.89) 19%, rgba(0, 0, 0, 0.72) 39%, rgba(0, 0, 0, 0.33) 81%, rgba(0, 0, 0, 0.21) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.89) 19%, rgba(0, 0, 0, 0.72) 39%, rgba(0, 0, 0, 0.33) 81%, rgba(0, 0, 0, 0.21) 100%); /* W3C */
    -pie-background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.21));
    width: 90%;
    padding: 3px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.14);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.24);
    box-sizing: border-box;
    margin: 12px 0 0 14px;
    position: relative;
    behavior: url(pie/PIE.htc);

}

.button-clear {
    width: 105px;
}

/*End block cart Begin block shop*/

.shop {
    background: none;
    padding-top: 20px;
    margin: 0 0 69px 0;
}

.part-title {
    background: url("../img/grass_and_lis.png");
    top: -48px;
}

.menu li a {
    color: #fdffa9;
    font: 14px PTSans;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 0;
}

.menu li {
    background: url("../img/wood_texture.png") no-repeat;
    margin: 3px 0;
    position: relative;
}

.menu li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: url("../img/line.png") repeat-x;
}

.menu li:last-child:after {
    background: none;
}

#last-item {
    border-radius: 0 0 7px 7px;
    behavior: url(pie/PIE.htc);
    position: relative;
}

#last-item:after {
    background: none;
}

#last-item a:hover {
    border-radius: 0 0 7px 7px;
}

.menu li a:hover {
    background: #c1dc69; /* Old browsers */
    background: -moz-linear-gradient(top, #c1dc69 0%, #94c200 3%, #88b200 23%, #557000 77%, #485e00 97%, #384a00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1dc69), color-stop(3%, #94c200), color-stop(23%, #88b200), color-stop(77%, #557000), color-stop(97%, #485e00), color-stop(100%, #384a00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c1dc69 0%, #94c200 3%, #88b200 23%, #557000 77%, #485e00 97%, #384a00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c1dc69 0%, #94c200 3%, #88b200 23%, #557000 77%, #485e00 97%, #384a00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c1dc69 0%, #94c200 3%, #88b200 23%, #557000 77%, #485e00 97%, #384a00 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c1dc69 0%, #94c200 3%, #88b200 23%, #557000 77%, #485e00 97%, #384a00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1dc69', endColorstr='#384a00', GradientType=0); /* IE6-9 */
}

.triangle-added:before {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../img/triangle.png");
    position: absolute;
    top: 11px;
    right: 22px;
}

/* End search block */

.search {
    padding: 57px 0 27px 0;
    margin-bottom: 61px;
}

.search-title {
    background: url("../img/grass_and_fox.png") no-repeat;
}

.find {
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 35px;
}

.field-enter {
    color: #fdffa9;
    font: 14px PTSans;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.89) 19%, rgba(0, 0, 0, 0.72) 39%, rgba(0, 0, 0, 0.33) 81%, rgba(0, 0, 0, 0.21) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(19%, rgba(0, 0, 0, 0.89)), color-stop(39%, rgba(0, 0, 0, 0.72)), color-stop(81%, rgba(0, 0, 0, 0.33)), color-stop(100%, rgba(0, 0, 0, 0.21))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.89) 19%, rgba(0, 0, 0, 0.72) 39%, rgba(0, 0, 0, 0.33) 81%, rgba(0, 0, 0, 0.21) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.89) 19%, rgba(0, 0, 0, 0.72) 39%, rgba(0, 0, 0, 0.33) 81%, rgba(0, 0, 0, 0.21) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.89) 19%, rgba(0, 0, 0, 0.72) 39%, rgba(0, 0, 0, 0.33) 81%, rgba(0, 0, 0, 0.21) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.89) 19%, rgba(0, 0, 0, 0.72) 39%, rgba(0, 0, 0, 0.33) 81%, rgba(0, 0, 0, 0.21) 100%); /* W3C */
    -pie-background: linear-gradient(#000000, rgba(255, 255, 255, 0.0));
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
    behavior: url(pie/PIE.htc);
    position: relative;
    padding-left: 10px;
}

input::-webkit-input-placeholder {
    padding-left: 20px;
    color: #fdffa9;
    font: 14px PTSans;
}

input::-moz-placeholder {
    color: #fdffa9;
}

input:-moz-placeholder {
    color: #fdffa9;
}

input:-ms-input-placeholder {
    padding-left: 20px;
    color: #fdffa9;
    font: 14px PTSans;
}

.search .wrapping {
    width: 41%;
    padding: 3px 3px 0 3px;
    height: 37px;
    margin: 25px auto 0 auto;
}

.chat {
    padding: 32px 0 27px 0;
    background: url("../img/texture_for_block.png") 0 100% no-repeat;
    margin-bottom: 68px;
}

.area-messages {
    background: url("../img/texture_for_chat.png");
    padding: 17px 25px 9px 21px;
}

.message {
    margin-bottom: 30px;
}

.message .name-user {
    color: #1e1914;
    font: 14px OpenSansSemibold;
    margin-bottom: 2px;
    width: 224px;
}

.message .message-user {
    color: #241e18;
    font: 12px OpenSans;
    line-height: 18px;
}

.message time {
    color: #a8a8a8;
    font: 12px OpenSansSemibold;
}

.chat time {
    float: right;
}

.code {
    overflow: hidden;
    margin-bottom: 15px;
}

.enter-name {
    margin: 22px 0 20px 12px;
    height: 35px;
    width: 252px;
}

.code input {
    float: left;
    height: 35px;
    width: 86px;
    margin: 0 7px 0 11px;
}

.code img {
    float: left;
    margin-right: 4px;
}

.code a {
    display: block;
    float: left;
    width: 67px;
    height: 43px;
    background: url("../img/refresh.png");
}

.text-message {
    padding: 12px 14px 0 14px;
    font: 14px/1.4 PTSansReguliar !important;
    overflow: hidden;

    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.54) 0%, rgba(0, 0, 0, 0.28) 32%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.28) 68%, rgba(0, 0, 0, 0.54) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.54)), color-stop(32%, rgba(0, 0, 0, 0.28)), color-stop(50%, rgba(0, 0, 0, 0.2)), color-stop(68%, rgba(0, 0, 0, 0.28)), color-stop(100%, rgba(0, 0, 0, 0.54))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.54) 0%, rgba(0, 0, 0, 0.28) 32%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.28) 68%, rgba(0, 0, 0, 0.54) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.54) 0%, rgba(0, 0, 0, 0.28) 32%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.28) 68%, rgba(0, 0, 0, 0.54) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.54) 0%, rgba(0, 0, 0, 0.28) 32%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.28) 68%, rgba(0, 0, 0, 0.54) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.54) 0%, rgba(0, 0, 0, 0.28) 32%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.28) 68%, rgba(0, 0, 0, 0.54) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a000000', endColorstr='#8a000000', GradientType=0); /* IE6-9 */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
    margin: 0 11px 0 14px;
    width: 222px;
    height: 109px;
    color: #fdffa9;
}

.button-message {
    width: 105px;
    height: 29px;
}

.send-message .wrapping {
    width: 115px;
    padding: 3px 0 3px 4px;
    margin: 20px 0 0 84px;
}

/* End chat block */

.debriefing {
    padding: 40px 0 16px 0;
    margin-bottom: 65px;
}

.debriefing h3 {
    color: #fdffa9;
    font: 12px PTSans;
    margin: 12px 0 15px 23px;
}

.debriefing form {
    position: relative;
}

.radio-button + label > span {
    background: rgb(4, 4, 3); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(4, 4, 3, 1) 0%, rgba(2, 2, 0, 1) 4%, rgba(4, 3, 1, 1) 8%, rgba(23, 19, 6, 1) 33%, rgba(40, 32, 12, 1) 50%, rgba(57, 47, 19, 1) 63%, rgba(62, 51, 21, 1) 67%, rgba(63, 52, 21, 1) 71%, rgba(70, 58, 24, 1) 75%, rgba(73, 59, 22, 1) 83%, rgba(90, 75, 32, 1) 96%, rgba(86, 72, 30, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(4, 4, 3, 1)), color-stop(4%, rgba(2, 2, 0, 1)), color-stop(8%, rgba(4, 3, 1, 1)), color-stop(33%, rgba(23, 19, 6, 1)), color-stop(50%, rgba(40, 32, 12, 1)), color-stop(63%, rgba(57, 47, 19, 1)), color-stop(67%, rgba(62, 51, 21, 1)), color-stop(71%, rgba(63, 52, 21, 1)), color-stop(75%, rgba(70, 58, 24, 1)), color-stop(83%, rgba(73, 59, 22, 1)), color-stop(96%, rgba(90, 75, 32, 1)), color-stop(100%, rgba(86, 72, 30, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(4, 4, 3, 1) 0%, rgba(2, 2, 0, 1) 4%, rgba(4, 3, 1, 1) 8%, rgba(23, 19, 6, 1) 33%, rgba(40, 32, 12, 1) 50%, rgba(57, 47, 19, 1) 63%, rgba(62, 51, 21, 1) 67%, rgba(63, 52, 21, 1) 71%, rgba(70, 58, 24, 1) 75%, rgba(73, 59, 22, 1) 83%, rgba(90, 75, 32, 1) 96%, rgba(86, 72, 30, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(4, 4, 3, 1) 0%, rgba(2, 2, 0, 1) 4%, rgba(4, 3, 1, 1) 8%, rgba(23, 19, 6, 1) 33%, rgba(40, 32, 12, 1) 50%, rgba(57, 47, 19, 1) 63%, rgba(62, 51, 21, 1) 67%, rgba(63, 52, 21, 1) 71%, rgba(70, 58, 24, 1) 75%, rgba(73, 59, 22, 1) 83%, rgba(90, 75, 32, 1) 96%, rgba(86, 72, 30, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(4, 4, 3, 1) 0%, rgba(2, 2, 0, 1) 4%, rgba(4, 3, 1, 1) 8%, rgba(23, 19, 6, 1) 33%, rgba(40, 32, 12, 1) 50%, rgba(57, 47, 19, 1) 63%, rgba(62, 51, 21, 1) 67%, rgba(63, 52, 21, 1) 71%, rgba(70, 58, 24, 1) 75%, rgba(73, 59, 22, 1) 83%, rgba(90, 75, 32, 1) 96%, rgba(86, 72, 30, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(4, 4, 3, 1) 0%, rgba(2, 2, 0, 1) 4%, rgba(4, 3, 1, 1) 8%, rgba(23, 19, 6, 1) 33%, rgba(40, 32, 12, 1) 50%, rgba(57, 47, 19, 1) 63%, rgba(62, 51, 21, 1) 67%, rgba(63, 52, 21, 1) 71%, rgba(70, 58, 24, 1) 75%, rgba(73, 59, 22, 1) 83%, rgba(90, 75, 32, 1) 96%, rgba(86, 72, 30, 1) 100%); /* W3C */
    -pie-background: linear-gradient(to bottom, rgba(4, 4, 3, 1) 0%, rgba(2, 2, 0, 1) 4%, rgba(4, 3, 1, 1) 8%, rgba(23, 19, 6, 1) 33%, rgba(40, 32, 12, 1) 50%, rgba(57, 47, 19, 1) 63%, rgba(62, 51, 21, 1) 67%, rgba(63, 52, 21, 1) 71%, rgba(70, 58, 24, 1) 75%, rgba(73, 59, 22, 1) 83%, rgba(90, 75, 32, 1) 96%, rgba(86, 72, 30, 1) 100%); /* W3C */
    position: relative;
    border-radius: 12px;
    width: 22px;
    height: 22px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 1em 0 0;
    display: inline-block;
    vertical-align: middle;
    behavior: url(pie/PIE.htc);
}

.radio-button {
    opacity: 0;
    margin: 0 0 23px 2px;
}

.radio-button:checked + label > span span {
    display: inline-block;
    width: 15px;
    height: 15px;
    left: 3px;
    top: 3px;
    border-radius: 50%;
    border: none;
    background: #96c400;
    background: -webkit-linear-gradient(#96c400, #455b00);
    background: -moz-linear-gradient(#96c400, #455b00);
    background: -ms-linear-gradient(#96c400, #455b00);
    background: linear-gradient(#96c400, #455b00);
    -pie-background: linear-gradient(to bottom, #96c400, #455b00);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    behavior: url(pie/PIE.htc);
    position: relative;
}

.debriefing .wrapping {
    width: 141px;
    height: 42px;
    padding: 5px 3px 0 4px;
    margin: 4px 0 0 68px;
}

.debriefing .send-answer {
    width: 131px;
    height: 32px;
    padding-top: 7px;
    margin: 0;
}

.result a {
    color: #ffc800;
    font: 13px PTSans;
    text-decoration: none;
    margin-left: 15px;
}

.debriefing output {
    color: #fdffa9;
    font: 12px PTSans;
    display: block;
    margin: 11px 0 0 46px;
}

.divider {
    content: "";
    width: 100%;
    height: 3px;
    background: url("../img/line.png") repeat-x;
    margin: 29px 0 0 0;
}

.result {
    margin-top: 10px;
    padding-left: 42px;
}

.archive-news {
    padding: 42px 0 14px 0;
    margin-bottom: 100px;
}

.debriefing label {
    color: #fdffa9;
    font: 12px PTSans;
}

.debriefing output span {
    color: #fff;
}

.month {
    overflow: hidden;
}

.month p {
    color: #fdffa9;
    font: 15px OpenSans;
    float: left;
    margin: 7px 0 0 54px;
}

.custom-for-button {
    display: block;
    width: 13px;
    height: 29px;
    float: left;
    margin: 0 0 0 22px;
}

.previous-month {
    background: url("../img/previus-button.png");
}

.next-month {
    background: url("../img/next-button.png");
    margin: 0 0 0 54px;
}

.calendar table thead {
    color: #fdffa9;
    font: 12px OpenSans;
}

.calendar table {
    font: 13px OpenSans;
    color: #c8c998;
    margin: 20px 0 0 15px;
}

.calendar th {
    width: 31px;
    height: 31px;
    text-align: center;
}

.calendar td {
    width: 35px;
    height: 31px;
    text-align: center;
}

.social {
    position: absolute;
    bottom: -79px;
}

.bracing {
    width: 20px;
    height: 30px;
    background: url("../img/for_calendar_bottom.png") repeat-y;
    float: left;
    margin: 0 0 0 12px;
}

.second {
    margin-left: 223px;
    position: relative;
}

.bottom-social {
    background: url("../img/texture_for_block.png") 0 100% no-repeat;
    padding: 2px 26px 2px 23px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 5px 61px rgb(0, 0, 0);
    position: relative;
    behavior: url(pie/PIE.htc);
}

.bottom-social a {
    margin: 0 7px;
}

.point {
    background: #000;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin: 0;
    position: absolute;
    top: 12px;
    left: 11px;
}

.second-point {
    top: 28px;
    left: 11px;
}

.third-point {
    right: 17px;
    left: inherit;
    top: 12px;
}

.fourth-point {
    right: 17px;
    left: inherit;
    top: 28px;
}

/* End left-side */

.content {
    margin-left: 21px;
    width: 900px;
    float: left;
}

.bread-crumbs {
    background-repeat: repeat-x;
    padding: 7px 0;
    margin-top: 48px;
    border-radius: 6px;
}

.bread-crumbs .wrapping {
    overflow: hidden;
    padding: 8px 0 8px 20px;
    margin: 0 7px;
    width: auto;
}

.bread-crumbs li {
    float: left;
    position: relative;
    margin: 0;
}

.bread-crumbs .item-triangle {
    margin: 0 18px 0 0;

}

.bread-crumbs .item-triangle a {
    color: #ffc800;
}

.item-triangle:after {
    content: "";
    position: absolute;
    top: 5px;
    right: -17px;
    border: 5px solid transparent;
    border-left: 5px solid #fff;
}

.bread-crumbs a {
    color: #fff;
    font: 14px PTSansReguliar;
    text-decoration: none;
}

.goods-order {
    margin: 48px 0 29px 0;
    background: url("../img/background_for_contakts.png") repeat;
    padding: 40px 0 0 0;
    font: 14px PTSansReguliar;
    color: #fdffa9;
}

.goods-order .divider {
    margin: 12px 0 7px 0;
}

.goods-order table tr {
    background: url("../img/line.png") 0 100% repeat-x;
}

.goods-order table {
    width: 100%;
}

.goods-order td {
    padding: 0 3px 12px 18px;
}

.remove {
    display: inline-block;
    background: url("../img/button_goods.png");
    width: 28px;
    height: 28px;
    border: none;
    position: relative;
    top: 10px;
}

.goods-order .field-enter {
    width: 314px;
    height: 34px;
    display: block;
    margin: 14px 0 24px 14px;
}

.goods-order input::-webkit-input-placeholder {
    padding-left: 5px;
    font-size: 12px;
}

.goods-order input::-moz-placeholder {
    padding-left: 5px;
    font-size: 12px;
}

.goods-order input:-moz-placeholder {
    padding-left: 5px;
    font-size: 12px;
}

.goods-order input:-ms-input-placeholder {
    padding-left: 5px;
    font-size: 12px;
}

.goods-order .count-gods {
    width: 35px;
    height: 24px;
    display: inline;
    margin: 0;
}

.name {
    color: #ffc800;
}

.continue, .recalculate {
    display: inline-block;
}

.continue {
    width: 163px;
}

.continue .button {
    width: 155px;
}

.recalculate {
    width: 121px;
    margin-left: 331px;
}

.recalculate .button {
    width: 114px;
}

.goods-order output {
    display: inline-block;
    color: #fdffa9;
    margin-left: 105px;
}

.manner h4 {
    text-transform: uppercase;
    margin: 25px 0 0 19px;
}

.manner input {
    display: none;
}

.manner label {
    margin: 12px 0 8px 16px;
    display: inline-block;
}

.first-column {
    /*ie8 don't supported selectors :nth-* and :first-child */
    width: 644px;
}

.second-column {
    width: 111px;
}

.third-column {
    width: 94px;
}

.four-column {
    width: 100px;
}

.last-column {
    width: 70px;
}

.manner-deliver {
    margin: 40px 0 20px 0;
}

.price-info {
    overflow: hidden;
    position: relative;
    padding: 12px 0;
    margin-bottom: 15px;
}

.price-info:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 96%;
    height: 3px;
    background: url("../img/line.png") repeat-x;
}

.price-info:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    bottom: 96%;
    height: 3px;
    background: url("../img/line.png") repeat-x;
}

.price-info li {
    margin: 5px 0;
}

.left-price {
    float: left;
    margin-left: 17px;
}

.right-price {
    float: right;
    margin-right: 15px;
}

.price {
    color: #fff;
}

.send-order {
    margin: 0 0 15px 14px;
}

.description-text {
    font: 13px/1.5 PTSansReguliar;
    color: #fdffa9;
    padding: 7px 20px 18px 21px;
    text-align: justify;
}

.goods-order .sidebar-title {
    background: url("../img/gress_for_goods-title.png");
    width: 936px;
    left: -17px;
}

.title-section {
    font: 40px Rigoletto;
    color: #fdffa9;
    margin-bottom: 10px;
}

.latest-goods {
    overflow: hidden;
    text-align: justify;
    line-height: 0;
}

.goods-post {
    width: 288px;
    overflow: hidden;
    display: inline-block;
    margin: 0 7px 23px 0;

}

.custom-article {
    border: 1px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.5), inset 0 0 3px rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    behavior: url(pie/PIE.htc);
    position: relative;
}

.news-title {
    text-decoration: none;
    margin-bottom: 14px;
    display: inline-block;
}

.news-title h3 {
    font: 20px PTSansReguliar;
    color: #28221c;
}

.short-description {
    background: url("../img/background_for_article.png");
    padding: 17px 20px 20px 20px;
    margin-top: -4px;
    background-size: contain;
}

.short-description p {
    color: #241e18;
    font: 14px/1.34 PTSansReguliar;
}

.goods-post img {
    border: 1px solid #4b4939;
}

.news-info {
    background: url("../img/background_info.png");
    background-size: 100% 100%;
    padding: 12px 0 26px 0;
    overflow: hidden;
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.5);
    behavior: url(pie/PIE.htc);
    position: relative;
}

.news-info .wrapping {
    margin: 0 0 0 18px;
    width: 120px;
}

.news-info p {
    text-align: center;
    color: #fdffa9;
    font: 14px PTSansReguliar;
}

.news-info .line {
    margin: 14px 0;
}

.news-info .add-goods {
    float: right;
    position: relative;
    margin: 0 18px 0 0;
}

.add-goods .button {
    text-indent: 25px;
}

.add-goods:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 15px;
    background: url("../img/trolley.png");
    width: 20px;
    height: 16px;
    z-index: 2;
}

.add-goods .button, .read-more .button {
    width: 111px;
}

.read-more {
    float: left;
}

/* End content */

.custom {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), inset 0 0 4px rgba(248, 248, 132, 0.3);
    background: url("../img/background_for_contakts.png") repeat;
    behavior: url(pie/PIE.htc);
    position: relative;
}

/* End Contacts Begin footer */

.footer {
    width: 100%;
    height: 164px;
    background: url("../img/grass_for_footer.png") repeat-x;
    overflow: hidden;
    margin-top: 24px;
}

.copyright {
    color: #fdffa9;
    font: 12px Arial;
    margin: 94px 0 0 98px;
    display: inline-block;
    text-decoration: none;
    float: left;
}

.list-copyright {
    float: right;
    width: 158px;
    margin: 94px 98px 0 0;
}

.list-copyright .copyright {
    margin: 0;
}

.first {
    margin: 0 0 23px 32px;
}

/* Edit for IE */

.Ie8 .text-message {
    color: #000;
}

.Ie8 .debriefing form input, .Ie8 .manner input {
    display: inline-block;
    margin-left: 10px;
}

.Ie9 .text-message {
    color: #000;
    background: #fff;
    border-radius: 0;
}

@media all and (min-width: 1400px) {
    .main-wrapper {
        background-size: contain;
    }
}

@media screen and (min-width: 801px) and (max-width: 960px) {
    .main-wrapper {
        background-size: contain;
    }

    .header-main h2 {
        margin: 0 0 55px 2px;
    }

    .header-main .logo {
        width: 348px;
        height: 115px;
        background-size: contain;
    }

    .wrapper {
        width: auto;
    }

    .content {
        margin-left: 2%;
        width: 62%;
        float: left;
    }

    .goods-post {
        width: 100%;
        box-sizing: border-box;
        margin: 20px 0;
    }

    .goods-post img {
        width: 100%;
    }

    .registration {
        margin-left: 20px;
    }

    .goods-order .sidebar-title {
        width: 105%;
        background-size: 100% 100%;
        left: -12px;
    }

    .goods-order .sidebar-title h2 {
        font-size: 34px;
    }

    .recalculate {
        width: 24%;
        margin-left: 1%;
    }

    .recalculate .button {
        width: 99%;
    }

    .goods-order output {
        margin-left: 1%;
    }

}

@media screen and (min-width: 691px) and (max-width: 800px) {
    .main-wrapper {
        background-size: contain;
    }

    .header-main h2 {
        margin: 0 0 55px 2px;
    }

    .header-main .logo {
        width: 348px;
        height: 115px;
        background-size: contain;
    }

    .wrapper {
        width: auto;
    }

    .left-side {
        margin-left: 4%;
    }

    .content {
        width: 54%;
        margin-left: 3%;
    }

    .title-section {
        margin: 10px auto;
        width: 54%;
    }

    .goods-post {
        width: 100%;
        float: none;
        margin-bottom: 30px;
        box-sizing: border-box;
    }

    .news-info ul {
        float: none;
        padding: 10px;
        width: 92%;
    }

    .news-info li {
        margin: 0 6%;
    }

    .goods-post img {
        width: 100%;
    }

    .bread-crumbs {
        width: 100%;
    }

    .bread-crumbs a {
        font-size: 12px;
    }

    .goods-order .sidebar-title {
        width: 105%;
        background-size: 100% 100%;
        left: -12px;
    }

    .goods-order .sidebar-title h2 {
        font-size: 34px;
    }

    .recalculate {
        width: 24%;
        margin-left: 1%;
    }

    .recalculate .button {
        width: 99%;
    }

    .goods-order output {
        margin-left: 1%;
    }

}

@media screen and (min-width: 601px) and (max-width: 690px) {
    .main-wrapper {
        background-size: contain;
    }

    .header-main h2 {
        margin: 0 0 55px 2px;
    }

    .header-main .logo {
        width: 348px;
        height: 115px;
        background-size: contain;
    }

    .wrapper {
        width: auto;
    }

    .left-side {
        margin-left: 25%;

        float: none;
    }

    .content {
        width: 95%;
        margin-left: 3%;

        float: none;
    }

    .title-section {
        margin: 10px auto;
        width: 78%;
    }

    .goods-post {
        width: 100%;
        float: none;
        margin-bottom: 30px;
        box-sizing: border-box;
    }

    .news-info ul {
        float: none;
        padding: 7px;
        width: 94%;
    }

    .news-info li {
        margin: 0 3%;
    }

    .goods-post img {
        width: 100%;
    }

    .news-title h3 {
        font: 16px PTSansReguliar;
    }

    .short-description p {
        font: 12px/1.34 PTSansReguliar;
    }

    .sort p, .sort ul > li, .sort .active {
        font-size: 12px;
    }

    .bread-crumbs {
        width: 100%;
    }

    .bread-crumbs a {
        font-size: 12px;
    }

    .news-info .wrapping {
        float: none;
        width: 93%;
        margin: 5px 0 5px 3%;
    }

    .add-goods .button, .read-more .button {
        width: 99%;
    }

    .goods-order .sidebar-title {
        width: 105%;
        background-size: 100% 100%;
        left: -12px;
    }

    .goods-order .sidebar-title h2 {
        font-size: 34px;
    }

    .recalculate {
        width: 29%;
        margin-left: 1%;
    }

    .recalculate .button {
        width: 98%;

        font-size: 11px;
    }

    .goods-order output {
        margin-left: 1%;
    }

    .continue {
        width: 55%;
    }

    .continue .button {
        width: 100%;
    }

}

@media only screen and (min-width: 481px) and (max-width: 600px) {
    .main-wrapper {
        background-size: contain;
    }

    .header-main h2 {
        margin: 0 0 55px 2px;

        font-size: 42px;
    }

    .header-main .logo {
        width: 348px;
        height: 115px;
        background-size: contain;
    }

    .wrapper {
        width: auto;
    }

    .left-side {
        float: none;
        width: 45%;
        margin: 0 auto;
    }

    .content {
        width: 95%;
        margin-left: 3%;
    }

    .title-section {
        margin: 10px auto;
        width: 78%;
    }

    .goods-post {
        width: 100%;
        float: none;
        margin-bottom: 30px;
        box-sizing: border-box;
    }

    .news-info ul {
        float: none;
        padding: 7px;
        width: 94%;
    }

    .news-info li {
        margin: 0 3%;
    }

    .goods-post img {
        width: 100%;
    }

    .news-title h3 {
        font: 16px PTSansReguliar;
    }

    .short-description p {
        font: 12px/1.34 PTSansReguliar;
    }

    .archive-news {
        display: none;
    }

    .debriefing {
        display: none;
    }

    .header-main small {
        font: 12px OpenSans;
    }

    .registration {
        margin-left: 22px;
    }

    .goods-order .sidebar-title {
        width: 105%;
        background-size: 100% 100%;
        left: -12px;
    }

    .goods-order .sidebar-title h2 {
        font-size: 34px;
    }

    .recalculate {
        width: 24%;
        margin-left: 1%;
    }

    .recalculate .button {
        width: 99%;
    }

    .goods-order output {
        margin-left: 1%;
    }

}

@media only screen and (max-width: 480px) {
    .main-wrapper {
        background-size: contain;
    }

    .header-main {
        margin: 14px 0 0 44px;
    }

    .header-main h2 {
        margin: 0 0 8px 0;

        font-size: 16px;
    }

    .header-main .logo {
        width: 114px;
        height: 38px;
        background-size: contain;
    }

    .wrapper {
        width: auto;
    }

    .left-side {
        float: none;
        width: 100%;
        margin: 0;
    }

    .content {
        width: 95%;
        margin-left: 3%;
    }

    .cart {
        display: none;
    }

    .chat {
        display: none;
    }

    .contacts {
        display: none;
    }

    .short-description {
        padding: 8px 0 8px 5px;
    }

    .read-more {
        width: 94%;
        float: none;
        margin: 3px auto;
    }

    .shop {
        width: 100%;

        margin-bottom: 0;
    }

    .menu li {
        background-size: 100% 100%;
    }

    .sidebar-title {
        display: none;
    }

    .triangle-added:before {
        display: none;
    }

    .title-section {
        font: 30px Rigoletto;
    }

    .news-info ul {
        display: none;
    }

    .button {
        padding-top: 5px;
        width: 100%;
        height: 28px;
        font: 12px PTSansReguliar;
    }

    .search {
        display: none;
    }

    .title-section {
        margin: 14px auto;
        width: 100%;
    }

    .goods-post {
        width: 100%;
        float: none;
        margin-bottom: 30px;
        box-sizing: border-box;
    }

    .news-info ul {
        float: none;
        padding: 7px;
        width: 94%;
    }

    .news-info li {
        margin: 0 3%;
    }

    .goods-post img {
        width: 100%;
    }

    .news-title h3 {
        font: 11px PTSansReguliar;
    }

    .short-description p {
        font: 11px/1.34 PTSansReguliar;
    }

    .news-info .wrapping {
        float: none;
        width: 93%;
        margin: 5px 0 5px 3%;
    }

    .add-goods .button, .read-more .button {
        width: 99%;
    }

    .bread-crumbs {
        display: none;
    }

    .bread-crumbs a {
        font-size: 12px;
    }

    .sort p, .sort ul > li, .sort .active {
        font-size: 12px;
    }

    .archive-news {
        display: none;
    }

    .debriefing {
        display: none;
    }

    .header-main small {
        font: 8px OpenSans;
    }

    .registration {
        margin-left: 22px;
    }

    .list-copyright {
        float: right;
        width: 162px;
        margin: 85px 18px 0 0;
    }

    .copyright {
        margin: 87px 0 0 10px;
    }

    .show-menu {
        display: block;

        margin: 0 auto;
        width: 40px;
    }

    #menu {
        display: none;
    }

    .goods-order .sidebar-title {
        width: 105%;
        background-size: 100% 100%;
        left: -12px;
    }

    .goods-order .sidebar-title h2 {
        font-size: 34px;
    }

    .recalculate {
        width: 24%;
        margin-left: 1%;
    }

    .recalculate .button {
        width: 99%;
    }

    .goods-order output {
        margin-left: 1%;
    }

    .continue {
        width: 40%;
    }

    .continue .button {
        width: 100%;
    }

    .goods-order td {
        padding: 0 3px 12px 10px;
    }

    .first-column {
        width: 220px;
    }

}